@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";

* {
    font-family: 'Inter', 'Roboto', 'Open Sans', sans-serif;
}

.messages-container {
  overflow-y: auto;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
